body {
  color: #fff;
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/carbon_fibre.png");
  font-family: "Josefin Sans", sans-serif;
}
h1 {
  font-family: "Nova Oval", cursive;
}
footer {
  font-size: .7em;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color:cadetblue;
}
